@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");

html {
  line-height: 1.15;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "RocknRoll One", sans-serif;
}

body {
  background: linear-gradient(
    190deg,
    rgb(240, 187, 240) 0%,
    rgb(73, 36, 73)100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #222;
  overflow: hidden;
}

.App {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.App h1 {
  display: inline;
  text-align: center;
  margin-bottom: 2rem;
  color: #d9c8f4;

  text-shadow: 0 0 5px #cf7ae9, 3px -1px 5px #6a3280;
}

.addTodos {
  display: flex;
  justify-content: center;
}

.todo-input {
  min-width: 15rem;
  width: 40vw;
  max-height: 2.5rem;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  align-self: center;
}
.todo-input:focus {
  outline: none;
  border: 2px solid rgb(140, 111, 175);
}

.add-btn {
  margin-left: 1rem;
  background-color: #9a2dcd;
  color: #ffffff;
  border-radius: 5px;
  border: 2px solid #ffffff;
  font-size: 1.5rem;
  width: 3.2rem;
  height: 2.5rem;
  cursor: pointer;
  box-shadow: 2px 4px 10px #7a598d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-btn:focus {
  outline: none;
}

.displaytodos {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.displaytodos .buttons {
  margin-bottom: 2rem;
}

.displaytodos .buttons button {
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.displaytodos .buttons button:focus {
  outline: none;
}

.displaytodos .buttons button:not(:last-child) {
  margin-right: 1rem;
}

.displaytodos ul {
  list-style: none;
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  margin-left: 5%;
}

.card {
  display: flex;
  flex-direction: column;
  background: rgb(180, 182, 218);
  background: radial-gradient(
    circle,
    hsla(237, 34%, 78%, 0.9) 0%,
    hsla(219, 88%, 94%, 0.9) 100%
  );

  margin: 0 1rem 1rem 0;
  height: 6rem;
  width: 16rem;
  border-radius: 0.5rem;
  padding: 1rem;

  position: relative;
}
.card textarea {
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  background-color: #e1ebfd;
  color: #9a2dcd;
  height: 70%;
}
.card textarea:disabled {
  background-color: transparent;
}
.card .btns {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.card .btns button {
  border-radius: 5px;
  border: none;
  margin: 0 0.6rem;
  font-size: 1.4rem;
  cursor: pointer;
  color: #be8c53;
  background-color: transparent;
}

.card .btns button:focus {
  outline: none;
}

.completed {
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
  background-color: #6a3280;
  
  color: #e1ebfd;

  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  border-radius: 5px;
}

@media Screen and (max-width: 640px) {
  .displaytodos {
    overflow: hidden;
    margin-top: 2rem;
  }
  .displaytodos ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    align-self: center;
  }
  .card {
    margin-right: 0;
  }
}
